h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

.field .name {
  font-weight: bold;
}

.citation {
  font-size: 100%;
}
.avatar {
  float: right;
  margin-left: 20px;
}

.qrcode {
  float: right;
  margin-left: 20px;
}