---
layout: default
title: Publications
---

<h1>{{ page.title }}</h1>

<p>Alternatively, you can check these publications on <a href="http://scholar.google.com/citations?user=z8bozPMAAAAJ&hl=en">Google Scholar</a>, <a href="http://dl.acm.org/author_page.cfm?id=81479661857">ACM</a> or <a href="http://deusto.academia.edu/gomezgoiri">Academia.edu</a>.</p>

{% for post in site.posts %}
  {% if post.category == 'publications' %}
    {% capture old_year %}{{ previous_post.date | date:"%Y" }}{% endcapture %}
    {% capture year %}{{ post.date | date:"%Y" }}{% endcapture %}
    
    {% if old_year != year %}
      <h2>{{ post.date | date:"%Y" }}</h2>
    {% endif %}
    
      <span itemscope itemtype="http://schema.org/ScholarlyArticle">
	<p>{{ post.authors }}. <span style="font-weight:bold;" itemprop="name">{{ post.title }}</span>. {{ post.rest_citation }}</p>
	<p><a href="{{ post.url }}" itemprop="url">Read more...</a></p>
	
	<div style="float:right; margin-bottom:20px">
	  {% if post.bib %}
	    <a href="{{ post.bib }}" title="Download the citation in Bibtex format"><img src="img/bibtex.png" alt="Bibtex citation" /></a>
	  {% endif %}
	  
	  {% if post.code %}
	    <span itemprop="hasPart" itemscope itemtype="http://schema.org/Code">
	      <a href="{{ post.code }}" itemprop="codeRepository"><img src="../img/code-icon.png" alt="Check the code associated with the publication" /></a>
	    </span>
	  {% endif %}
	  
	  {% if post.semantics %}
	    <a href="http://www.morelab.deusto.es/labman/resource/publications/{{ post.semantics }}" title="Check the semantic description of this publication"><img src="img/rdf.png" alt="Semantics of the publication" /></a>
	  {% endif %}
	  
	  {% if post.slides %}
	    <span itemprop="hasPart" itemscope itemtype="http://schema.org/CreativeWork">
	      <a href="{{ post.slides }}" title="See the presentation of this publication"><img src="img/slides.png" alt="Presentation" /></a>
	    </span>
	  {% endif %}
	  
	  {% if post.pdf %}
	    <a href="{{ post.pdf }}" title="Download this publication in PDF format"><img src="img/pdf.png" alt="Publication in PDF" /></a>
	  {% endif %}

	</div>
      </span>
      
      <div style="clear:both;">
    </div>
  {% endif %}
  
  {% assign previous_post = post %}
{% endfor %}
