---
layout: default
title: R&amp;D Projects
---

<h1>{{ page.title }}</h1>

<!-- Timeline -->
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization',
       'version':'1','packages':['timeline']}]}"></script>
<script type="text/javascript">
google.setOnLoadCallback(drawChart);

function drawChart() {
  var container = document.getElementById('example1');

  var chart = new google.visualization.Timeline(container);

  var dataTable = new google.visualization.DataTable();

  dataTable.addColumn({ type: 'string', id: 'President' });
  dataTable.addColumn({ type: 'date', id: 'Start' });
  dataTable.addColumn({ type: 'date', id: 'End' });

  dataTable.addRows([
    {% for post in site.posts %}
      {% if post.category == 'projects' %}
	['{{ post.short }}', new Date('{{ post.start }}'), new Date('{{ post.end }}') ],
      {% endif %}
    {% endfor %}
  ]);

  chart.draw(dataTable);
}
</script>
<div id="example1" style="width: 100%; height: 300px;"></div>

{% capture currentyear %}{{ site.time | date: '%Y' }}{% endcapture %}

<h2>Ongoing</h2>
{% assign panelNumber = 0 %}
{% assign showIt = true %}
<div class="panel-group" id="ongoingAccordion" role="tablist" aria-multiselectable="true">
  {% for post in site.posts %}
    {% capture end_number %}{{ post.end | '%d' }}{% endcapture %}
    {% if (post.category == 'projects') and (end_number >= currentyear) %}
      <div class="panel panel-default">
        {% assign panelNumber = panelNumber | plus:1 %}
        <div class="panel-heading" role="tab" id="heading{{ panelNumber }}">
          <h4 class="panel-title">
            <a {% if showIt == false %}class="collapsed" {% endif %}role="button" data-toggle="collapse" data-parent="#ongoingAccordion" href="#collapse{{ panelNumber }}" aria-expanded="{{ showIt }}" aria-controls="collapse{{ panelNumber }}">
              {{ post.title }}
            </a>
          </h4>
        </div>
        <div id="collapse{{ panelNumber }}" class="panel-collapse collapse {% if showIt %}in{% endif %}" role="tabpanel" aria-labelledby="heading{{ panelNumber }}">
          <div class="panel-body">
            <p>
              {{ post.content | strip_html | truncatewords: 55 }}
            </p>
            <div class="text-right">
              {% if post.website %}
                <a role="button" class="btn btn-default" href="{{ post.website }}">Go to website</a>
              {% endif %}
              <a role="button" class="btn btn-info" href="{{ post.url }}">Read more</a>
            </div>
          </div>
        </div>
        {% assign showIt = false %}
      </div>
    {% endif %}
  {% endfor %}
</div>


<h2>Finished</h2>
{% assign showIt = true %}
<div class="panel-group" id="finishedAccordion" role="tablist" aria-multiselectable="true">
  {% for post in site.posts %}
    {% capture end_number %}{{ post.end | '%d' }}{% endcapture %}
    {% if (post.category == 'projects') and (end_number < currentyear) %}
      <div class="panel panel-default">
        {% assign panelNumber = panelNumber | plus:1 %}
        <div class="panel-heading" role="tab" id="heading{{ panelNumber }}">
          <h4 class="panel-title">
            <a {% if showIt == false %}class="collapsed" {% endif %}role="button" data-toggle="collapse" data-parent="#finishedAccordion" href="#collapse{{ panelNumber }}" aria-expanded="{{ showIt }}" aria-controls="collapse{{ panelNumber }}">
              {{ post.title }}
            </a>
          </h4>
        </div>
        <div id="collapse{{ panelNumber }}" class="panel-collapse collapse {% if showIt %}in{% endif %}" role="tabpanel" aria-labelledby="heading{{ panelNumber }}">
          <div class="panel-body">
            <p>
              {{ post.content | strip_html | truncatewords: 55 }}
            </p>
            <div class="text-right">
              {% if post.website %}
                <a role="button" class="btn btn-default" href="{{ post.website }}">Go to website</a>
              {% endif %}
              <a role="button" class="btn btn-info" href="{{ post.url }}">Read more</a>
            </div>
          </div>
        </div>
        {% assign showIt = false %}
      </div>
    {% endif %}
  {% endfor %}
</div>
