---
layout: default
title: Teaching
---

<h1>{{ page.title }}</h1>

<p>I taught the following courses at the <a href="http://www.ingenieria.deusto.es/">Faculty of Engineering</a> of the <a href="http://www.deusto.es/">University of Deusto</a>:</p>

{% for post in site.posts %}
  {% if post.category == 'teaching' %}
    {% if post.subcategory == 'university' %}
      <h4>{{ post.title }}</h4>
      <p>Topics: {{ post.topics }}</a></p>
      <div class="text-right"><a role="button" class="btn btn-info" href="{{ post.url }}">Read more ...</a></div>
    {% endif %}
  {% endif %}
{% endfor %}


<hr />

<p>
  The <a href="http://www.e-ghost.deusto.es/">e-ghost</a> is the <a href="http://en.wikipedia.org/wiki/Free_software">free software</a> group of the University of Deusto.
  It organizes summer courses on related topics.
  As part of these courses I have taught the following courses:
</p>

{% for post in site.posts %}
  {% if post.category == 'teaching' %}
    {% if post.subcategory == 'eghost' %}
      <h4>{{ post.title }}</h4>
      <p>Topics: {{ post.topics }}</a></p>
      <div class="text-right"><a role="button" class="btn btn-info" href="{{ post.url }}">Read more ...</a></div>
    {% endif %}
  {% endif %}
{% endfor %}
