---
layout: default
comments: true
---
<article>
  <nav class="navbar">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="../projects.html" class="link">&#60;&#60; Back to the projects list</a></li>
      </ul>
      {% if page.subsection_js %}
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Subsections <span class="caret"></span></a>
          <ul id="subsectionsDropdown" class="dropdown-menu"></ul>
        </li>
      </ul>
      {% endif %}
    </div>
  </nav>

  <header class="row" style="margin-bottom: 20px;">
    <div class="col-sm-12">
      {% if page.subtitle %}
        <h4>{{ page.subtitle }}</h4>
      {% endif %}
      <h1>
        <a href="{{ page.url }}" rel="bookmark" title="Permanent link to " itemprop="url"><span itemprop="name">{{ page.title }}</span></a>
      </h1>
      <p>Published on {{ page.date | date: '%B %d, %Y' }}</p>
    </div>
  </header>

  <div class="row">
    <div class="col-sm-12">
      {{ content }}
    </div>
  </div>

  {% if page.subsection_js %}
    <div id="navigation"></div>

    <script src="/js/subsections.js"></script>
    <script src="{{ page.subsection_js }}"></script>
    <script>
    $(function() {
      subsection.create_pager($('#navigation'), ptanywhere_subsection, {{ page.subsection_element }});
      subsection.fill_dropdown($('#subsectionsDropdown'), ptanywhere_subsection);
    });
    </script>
  {% endif %}
</article>
