<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Aitor Gómez Goiri" />

    <!-- Bootstrap and dependencies -->
    <script
			  src="https://code.jquery.com/jquery-1.12.4.min.js"
			  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
			  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />

    <!-- Some style adjustements -->
    <link rel="stylesheet" type="text/css" href="/css/own.css" />
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Aitor Gómez Goiri</a>
      </div>

      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/projects.html">Projects</a></li>
          <li><a href="/publications.html">Publications</a></li>
          <li><a href="/research_projects.html">R&amp;D Projects</a></li>
          <li><a href="/teaching.html">Teaching</a></li>
        </ul>
        <!-- form method="get" action="http://www.google.com/search" class="navbar-search pull-right">
          <input type="text" name="q" class="span2 search-query" placeholder="Search" maxlength="255" value="">
          <input name="sitesearch" type="hidden" value="{{ site.domain }}">
        </form -->
      </div>
    </div>
  </nav>

  <!-- Main content area -->
  <div class="container">
    {{ content }}
  </div>

  {% include footer.html %}
  {% include analytics.html %}
</body>
</html>
