---
layout: default
comments: true
---
<article>
  <div class="row">
    <div class="col-sm-12">
      <nav id="back">
        <a href="../projects.html">&#60;&#60; Back to the projects list</a>
      </nav>
      <header>
        <h2>
          <a href="{{ page.url }}" rel="bookmark" title="Permanent link to " itemprop="url"><span itemprop="name">{{ page.title }}</span></a>
        </h2>
      </header>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      {{ content }}
    </div>
  </div>

  <div class="row" style="margin-top: 30px">
    <div class="col-sm-12 text-center">
      {% if page.website %}
        <a role="button" class="btn btn-default" href="{{ page.website }}">Go to website</a>
      {% endif %}
      {% if page.more_info %}
          <a role="button" class="btn btn-default" href="{{ page.more_info }}">More information</a>
      {% endif %}
    </div>
  </div>
</article>
