---
layout: default
comments: true
---
<article>
  <nav id="back">
    <a href="../publications.html">&#60;&#60; Back to the publications list</a>
  </nav>
  <header>
    <h2>
      <a href="/publications{{ page.url }}" rel="bookmark" title="Permanent link to ">{{ page.title }}</a>
    </h2>
    <h5>
	<author>{{ page.authors }}</author> - 
        <time>{{ page.date | date: '%B' }} {{ page.date | date: '%Y' }}</time>
    </h5>
  </header>
  
  <blockquote>
      <p>{{ page.rest_citation }}</p>
  </blockquote>

  
  <div style="float:right; margin-bottom: 20px;">
    {% if page.bib %}
      <a href="{{ page.bib }}"><img src="../img/bibtex.png" alt="Bibtex citation" /></a>
    {% endif %}
    
    {% if page.semantics %}
      <a href="{{ page.semantics }}"><img src="../img/rdf.png" alt="Semantics of the publication" /></a>
    {% endif %}
    
    {% comment %} Just if the slide has not already been embeded {% endcomment %} 
    {% if page.slides and page.slideshare-embed_code == null %}
      <a href="{{ page.slides }}"><img src="../img/slides.png" alt="Presentation" /></a>
    {% endif %}
    
    {% if page.pdf %}
      <a href="{{ page.pdf }}"><img src="../img/pdf.png" alt="Read the full publication" /></a>
    {% endif %}
  </div>

  <br />
  
  <p style="clear: both;">{{ content }}</p>
  
  {% if page.slideshare-embed_code %}
    <p /><br /><p />
    
    <div style="text-align:center;">
      <iframe src="http://www.slideshare.net/slideshow/embed_code/{{ page.slideshare-embed_code }}" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px;" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe>
    </div>
  {% endif %}

</article>
