---
layout: default
comments: true
---
<article>
  <nav id="back">
    <a href="../teaching.html">&#60;&#60; Back</a>
  </nav>
  <header>
    <h1>
      <a href="/teaching{{ page.url }}" rel="bookmark" title="Permanent link to ">{{ page.title }}</a>
    </h1>
    <div class="field"><span class="name">Course name:</span> {{ page.original_name }}</div>
    <div class="field"><span class="name">Topics:</span> {{ page.topics }}</div>
    <div class="field"><span class="name">Language:</span> {{ page.language }}</div>
    {% if page.who %}
      <div class="field"><span class="name">Who?</span> {{ page.who }}</div>
    {% endif %}
    <div class="field"><span class="name">Where?</span> {{ page.where }}</div>
    <div class="field"><span class="name">When?</span> {{ page.when }}</div>
  </header>

  <br />
  
  <p style="clear: both;">{{ content }}</p>

</article>
